@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(
    138deg,
    rgba(1, 1, 1, 1) 21%,
    rgb(31, 88, 118) 49%,
    rgba(0, 37, 61, 1) 76%
  );
}
h1 {
  color: #fff;
  position: fixed;
  top: 10px;
}
h3 {
  color: #fff;
  position: fixed;
  top: 100px;

}
.conteneur2 {
  display: flex;
  width: 850px;
  height: 60vh;
  gap: 70px;
  padding: 60px 40px;
  background: #fff;
  border-radius: 10px;
  align-items: flex-end;
  justify-content: space-between;
  box-shadow: 0 10px 20px #0000001a;
  opacity: 0.8;
}
.boite-pendu img {
  user-select: none;
  max-width: 270px;
}
.boite-pendu h1 {
  font-size: 1.45rem;
  text-align: center;
  text-transform: uppercase;
}
.boite-jeu .afficher-mot {
  gap: 10px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.afficher-mot .lettre {
  width: 28px;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 40px;
  text-transform: uppercase;
  border-bottom: 3px solid #000;
}
.afficher-mot .lettre.devine {
  margin: -40px 0 35px;
  border-color: transparent;
}
.boite-jeu h4 {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 15px;
}
.boite-jeu h4 b {
  font-weight: 600;
}
.boite-jeu .erreurs b {
  color: #ff0000;
}

.boite-jeu .clavier {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: center;
}
:where(.modal-jeu, .clavier) button {
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 4px;
  text-transform: uppercase;
  background: #000000;
}
.clavier button {
  padding: 7px;
  width: calc(100% / 9 - 5px);
}
.clavier button[disabled] {
  pointer-events: none;
  opacity: 0.6;
}

:where(.modal-jeu, .clavier) button:hover {
  background: rgb(1, 1, 1);
  background: linear-gradient(
    138deg,
    rgba(1, 1, 1, 1) 21%,
    rgba(31, 88, 118, 1) 49%,
    rgba(0, 37, 61, 1) 76%
  );
}

.modal-jeu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  background: #00000099;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  padding: 0 10px;
}
.modal-jeu.afficher {
  opacity: 1;
  pointer-events: auto;
}
.modal-jeu .conteneur1 {
  padding: 30px;
  max-width: 420px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  text-align: center;
}
.modal-jeu img {
  max-width: 130px;
  margin-bottom: 20px;
}
.modal-jeu img {
  margin-left: -10px;
}
.modal-jeu h4 {
  font-size: 1.53rem;
}
.modal-jeu p {
  font-size: 1.15rem;
  margin: 15px 0 30px;
  font-weight: 500;
}
.modal-jeu p b {
  color: #1f5876;
  font-weight: 600;
}
.modal-jeu button {
  padding: 12px 23px;
}
